.card{
  display: grid;
  grid-template-rows:  1fr auto;
  min-height: 100vh;
  min-width: 100vw;
  place-items: center;
  width: min(100%,200px);
  background-position: center;
  background-size: cover;
}


.bg5{
  background-image:url('/fortuna2-1.webp');
}
.bg6{
  background-image: url('/fortuna2-2.webp');
}
.bg7{
  background-image: url('/fortuna2-3.webp');
}
.bg8{
  background-image: url('/fortuna2-4.webp');
}
.bg9{
  background-image: url('/espacio1.webp');
}
.bg10{
  background-image: url('/espacio2.webp');
}
.bg11{
  background-image: url('/espacio3.webp');
}
.bg12{
  background-image: url('/galaxia.webp');
}

/* --------------------------------- */


/* .footer.pt1{
  background-image: url('/planeta-1.webp');
  height: 300px;
  width: 300px;
}
.footer.pt2{
  background-image: url('/planeta-2.webp');
  height: 300px;
  width: 300px;
}
.footer.pt3{
  background-image: url('/planeta-4.webp');
  height: 300px;
  width: 300px;
} */