.button{

  padding: 8px;
  border-radius: 15px;
  width: 120px;
  border: 1px solid #ffffff;
  color: hwb(0 100% 0%);
  cursor: pointer;
  background-color: rgba(29, 41, 81, .3);
  margin-top: 20px;

}

.button.classBtnCookies{
  position: relative;
  bottom: 64vh;
    right: 70vh;
  background-color: rgba(179, 87, 79, 0.8);
  color: #ffffff;
  width: 80px;
  transition: right 0.2s ease-in-out; 
}
.button.classBtnCookies:hover{

  background-color: rgba(202, 222, 22, 0.8);
  color: #000000;
 

}

.button.classGoCookies{
  position: relative;
  bottom: 55vh;
  right: 70vh;
  background-color: rgba(179, 87, 79, 0.3);
  color: #ffffff;
  width: 70px;
  border: 1px solid rgba(226, 226, 47, 0.9);
  transition: right 0.3s ease-in-out; 
  animation: pulse 2s linear infinite;
  padding: 10px;
}
.button.classGoCookies:hover{
  
  color: #c31010;
  box-shadow: 2px 2px 5px rgba(195, 207, 16, 0.9)
}
.button.classBtnSpace{
  background-color: rgba(122, 17, 19, 0.4);
  position: absolute;
  bottom: 20%; 
  left: 50%;
  width: 28px; 
  height: 28px; 
  border-radius: 50%;
  border: 1px solid rgba(226, 226, 47, 0.9);
  
  box-shadow: 0 0 4px 5px rgba(195, 207, 16, 0.9);
  cursor: pointer;
  animation: pulse 1s linear infinite;
}
.button.classBtnSpace:hover{
  background-color: rgba(195, 207, 16, 0.4);
}


.button.classBtnSpace::after {
  content: '';
  position: absolute;
  background-color: transparent;
  bottom: -6px; 
  left: -6px; width: 40px; 
  height: 40px; 
  border-radius: 50%;
  border: 2px dotted rgba(215, 215, 33, 0.9);
  animation: rotate 2s linear infinite;
}

@keyframes rotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3); /* Aumentar el tamaño del botón al 110% */
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 1016px) {
  .button.classBtnCookies {
    right: 50vh;
  }
  .button.classGoCookies {
    right: 50vh;
  }
}

@media (max-width: 761px) {
  .button.classBtnCookies {
    right: 30vh;
  }
  .button.classGoCookies {
    right: 30vh;
  }
}

@media (max-width: 490px) {
  .button.classBtnCookies {
    right: 0;
  }
  .button.classGoCookies {
    right: 0vh;
  }

  /* .button.classBtnSpace{
    bottom: 25%; 
    left: 40vh;
  
  } */
}